.avatar {
  border-radius: 50%;
  overflow: hidden;
}
.userInfo {
  text-align: left;
}
.followers {
  justify-content: flex-start;
}

@media (max-width: 900px) {
  .userInfo {
    text-align: center;
  }
  .followers {
    justify-content: center;
  }
}
